:root {
    /* Create a colour scheme here */
    --primary: #121212;
    --primary-variant: #373737;
    --on-primary: #ffffff;

    --secondary: #ce9fd6;
    --secondary-variant: #c77fd4;
    --on-secondary: #ffffff;
    
    --background: #8b4cb5;
    --on-background: #ffffff;
    
    --surface: #1d1d1d;
    --on-surface: #ffffff;
    
    --error: #d1524b;
    --on-error: #ffffff;

    /* Create some height variables here */
    --height: 56px;
}