:root {
    --card-color: #b680d1;
    --accent-color: #9954d1;
    --border-color: #7332a8;
    --text-color: #ffffff;
    --first-width: 1;
    --second-width: 1;
    --third-width: 2;
    --score-height: 1;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    display: block;
}

.container {
    box-sizing: border-box;
    max-width: 100%;
    margin: 16px;
    background-color: var(--surface);
    border-radius: 16px;
    display: block;
    text-align: center;
    overflow: hidden;
}

.content-box {
    border-radius: 16px;
    background-color: var(--card-color);
    width: 100%;
}
.charades-container {
    width: 100%;
    max-width: 300px;
}

.card-container {
    margin: 16px;
    width: 100%;
    height: 250px;
    display: block;
    margin: 8px 0;
    background-color: var(--primary);
    overflow: hidden;
}

.controls {
    text-align: center;
    display: block;
    margin-bottom:8px;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
}

#reveal-button {
    display: none;
}

.floating-button {
    width: 56px;
    height: 56px;
    margin-top: -36px;
    border-radius: 50%;
    position: relative;
    float: right;
    background-color: var(--accent-color);
    fill: var(--text-color);
    padding: 8px;
    box-sizing: border-box;
}

.category-container {
    color: var(--text-color);
    width: 100%;
    height: 56px;
    margin-top: 8px;
    font-size: 24px;
    line-height: 32px;
    padding: 12px;
    box-sizing: border-box;
    display: block;
}

.increment-score-container {
    display: none;
    width: 100%;
    max-width: 300px;
}

.increment-button:hover {
    cursor: pointer;
    box-shadow: 0 0 16px var(--secondary); 
    /* background-color: var(--secondary-variant); */
}

.score {
    color: var(--text-color);
    width: 70px;
    height: 56px;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    background-color: var(--accent-color);
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
}

.score-text {
    font-size: 24px;
}

.highlight-word {
    height: 24px;
    width: 24px;
    line-height: 24px;
    fill: var(--on-surface);
}

.player-container {
    width: 100%;
    display: block;
    margin-top: 8px;
    background-color: var(--card-color);
    overflow-x: hidden;
}

.request-card {
    background-color: purple;
}

.button {
    width: 200px;
    text-align: center;
    background-color: var(--accent-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-size: 24px;
    line-height: 24px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block; 
    padding: 8px;
    border-radius: 32px;
    margin: 8px;
    user-select: none;
    -moz-user-select: none;
}

.category {
    font-size: 24px;
    padding: 16px;
    line-height: 24px;
}

.button:hover {
    cursor: pointer;
}

.sync-container {
    display: none;
    padding: 16px;
    border-bottom: 1px solid var(--secondary);
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}


@media only screen and (min-width: 600px) {
    .container {
        max-width: 800px;
        padding: 20px;
        box-sizing: border-box;
        display: inline-block;
    }

    .charades-container {
        max-width: 800px;
    }

    .increment-score-container {
        max-width: 800px;
    }
}