.heading {
    padding: 1%;
    font-size: 3em;
}

.top {
    height: 40%;
    padding: 16px;
}

.content {
    background-color: #4d4654;
    text-align: center;
    border-radius: 16px;
    width:600px;
    height: 600px;
    margin-top: 64px;
    box-sizing: border-box;
    align-content: center;
}


.user-name {
    background-color: #63586e;
    color: #d1bee6;
    outline: none;
    border: 0;

    border-radius: 4px;
    line-height: 64px;
    width: 500px;
    font-size: 60px;
    padding-left: 8px;
    box-sizing: border-box;

    animation-name: inputLostFocus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.user-name:focus {
    animation-name: inputFocus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
}

.login-button {
    background-color: #63586e;
    color: #d1bee6;
    outline: none;
    border: 1px solid #d1bee6;
    margin-top: 64px;
    padding: 16px;
    border-radius: 16px;

    font-size: 3em;
}

.login-button:hover {
    cursor: pointer;
    animation-name: inputFocus;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@media only screen and (min-width: 1250px){

    .content {
        margin-top: 0px;
    }

    .user-name  {

        font-size: 20px;
        line-height: 30px;

        animation-name: inputLostFocus;
        animation-delay: 0s;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }

    .login-button {
        margin-top: 16px;
        padding: 16px;
        font-size: 1em;

    }
}

@keyframes inputFocus {
    0% {
        box-shadow: 0 0 0 #d1bee6;
    }
    100% {
        box-shadow: 0 0 16px #d1bee6;
    }
} 

@keyframes inputLostFocus {
    0% {
        box-shadow: 0 0 16px #d1bee6;
    }
    100% {
        box-shadow: 0 0 0 #d1bee6;
    }
} 
