<div class="container">
    <div id="login" class="login-container">
        <form id="login-form">
            <div class="login-subtitle">Please enter your name</div>

            <input id='name-input' maxlength='8' class="login-input">

            <div class="login-subtitle">Group name</div>
            <input id='room-input' class="login-input">
            <div class="login-subtitle">Group password</div>
            <input type="password" id='password-input' class="login-input">
            <p>To play as a group you will all need to enter the same group name and password</p>
            <div>
                <button class="login-button">Login</button>
            </div>
        </form>
    </div>
    <div id="charades" class="charades-container">
        
        
        <div id="player-container" class="content-box player-container"></div>
        <div id="category" class="category-container content-box"></div>
        

        <div class="card-container content-box">
            <div id="charade-card" class="card content-box">
                <div id="card-title" class="card-title">Welcome to Charades</div>
                <div id="card-body" class="body">Press <span class="highlight-word">new</span> to get a charade to act out. Once guessed, press <span class="highlight-word">reveal</span> to show all other players the answer. Give a point to whoever gets it right by tapping their name. Have fun!</div>
                
            </div>
        </div>
        <div class="controls content-box">
            <div id="new-charade" class="button request-card" onclick="newCard()">New</div>
            <div id="reveal-button" class="button" onclick="revealAnswer()">Reveal</div>
        </div>
    </div>
    <div id="score-container" class="score-container"></div>
    <!-- <div id="winner" class="winner">
        <div class="score-board">
            <div id="podeum" class="podeum">
                <div class="top-three-container">
                    <div id="first-place" class="first-place-container"></div>
                    <div id="second-place" class="second-place-container"></div>
                    <div id="third-place" class="third-place-container"></div>
                </div>
                <div id="other-places" class="other-player-container"></div>
            </div>
        </div>
    </div> -->
</div>

<!-- <div class="container">
    <div id="score-container" class="score-container">
        <div class="score-row">
            <div class="medal first-medal">1</div>
            <div class="first-place score-place">
                <div class="score-name">Joshua</div>
                <div class="score-circle first-circle">5</div>
            </div>
        </div>
        <div class="score-row">
            <div class="medal second-medal">2</div>
            <div class="second-place score-place">
                <div class="score-name">Joshua</div>
                <div class="score-circle second-circle">4</div>
            </div>
        </div>
        <div class="score-row">
            <div class="medal third-medal">3</div>
            <div class="third-place score-place">
                <div class="score-name">Joshua</div>
                <div class="score-circle third-circle">3</div>
            </div>
        </div>
        <div class="score-row">
            <div class="medal other-medal">4</div>
            <div class="other-place score-place">
                <div class="score-name">Joshua</div>
                <div class="score-circle other-circle">3</div>
            </div>
        </div>     
    </div>
</div> -->